<div class="container d-flex flex-column align-items-center justify-content-center">
  <%= render "shared/flash" %>
  <h1>Posts#new</h1>
  <p>Find me in app/views/posts/new.html.erb</p>

  <%= render "form" %>
</div>